In [1]:
import pandas as pd

In [4]:
bet_totals = pd.read_csv(r'C:\Users\redye\Desktop\NBACrit\nba_betting_totals.csv')
games = pd.read_csv(r'C:\Users\redye\Desktop\NBACrit\nba_games_all.csv')
teams = pd.read_csv(r'C:\Users\redye\Desktop\NBACrit\nba_teams_all.csv')
bet_totals

,game_id,book_name,book_id,team_id,a_team_id,total1,total2,price1,price2
0,21100131,Pinnacle Sports,238,1610612740,1610612743,192.0,192.0,-105.0,-105.0
1,21100131,5Dimes,19,1610612740,1610612743,192.0,192.0,-105.0,-105.0
2,21100131,Bookmaker,93,1610612740,1610612743,192.0,192.0,-110.0,-110.0
3,21100131,BetOnline,1096,1610612740,1610612743,191.5,191.5,-110.0,-110.0
4,21100131,Bovada,999996,1610612740,1610612743,192.0,192.0,-110.0,-110.0
...,...,...,...,...,...,...,...,...,...
131381,41700215,Heritage,169,1610612755,1610612738,204.5,204.5,-105.0,-105.0
131382,41700215,Intertops,180,1610612755,1610612738,205.0,205.0,-110.0,-110.0
131383,41700215,YouWager,139,1610612755,1610612738,204.5,204.5,-110.0,-110.0
131384,41700215,JustBet,1275,1610612755,1610612738,204.0,204.0,-110.0,-110.0
131385,41700215,Sportsbetting,999991,1610612755,1610612738,204.5,204.5,-110.0,-110.0

In [5]:
games

,game_id,game_date,matchup,team_id,is_home,wl,w,l,w_pct,min,...,ast,stl,blk,tov,pf,pts,a_team_id,season_year,season_type,season
0,20800741,2009-02-06,SAC vs. UTA,1610612762,f,W,29.0,22.0,0.569,240,...,19.0,5.0,4.0,18.0,26.0,111,1610612758,2008,Regular Season,2008-09
1,20800701,2009-01-31,POR vs. UTA,1610612762,f,L,26.0,22.0,0.542,240,...,17.0,6.0,0.0,15.0,22.0,108,1610612757,2008,Regular Season,2008-09
2,20800584,2009-01-16,MEM vs. UTA,1610612762,f,W,24.0,16.0,0.600,240,...,23.0,9.0,3.0,15.0,22.0,101,1610612763,2008,Regular Season,2008-09
3,20800558,2009-01-12,IND @ UTA,1610612762,t,W,23.0,15.0,0.605,240,...,24.0,10.0,6.0,8.0,20.0,120,1610612754,2008,Regular Season,2008-09
4,20800440,2008-12-27,HOU vs. UTA,1610612762,f,L,18.0,14.0,0.563,290,...,35.0,13.0,7.0,9.0,27.0,115,1610612745,2008,Regular Season,2008-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125619,20801131,2009-04-03,MIN @ UTA,1610612762,t,L,46.0,30.0,0.605,240,...,22.0,11.0,4.0,10.0,16.0,102,1610612750,2008,Regular Season,2008-09
125620,20801058,2009-03-24,HOU @ UTA,1610612762,t,W,44.0,26.0,0.629,240,...,23.0,6.0,12.0,8.0,17.0,99,1610612745,2008,Regular Season,2008-09
125621,20801029,2009-03-20,OKC vs. UTA,1610612762,f,W,43.0,26.0,0.623,240,...,24.0,8.0,3.0,10.0,13.0,101,1610612760,2008,Regular Season,2008-09
125622,20800839,2009-02-23,ATL @ UTA,1610612762,t,W,34.0,23.0,0.596,240,...,30.0,11.0,6.0,15.0,19.0,108,1610612737,2008,Regular Season,2008-09
125623,20800810,2009-02-19,BOS @ UTA,1610612762,t,W,32.0,23.0,0.582,240,...,16.0,7.0,6.0,11.0,18.0,90,1610612738,2008,Regular Season,2008-09

In [7]:
teams

    league_id     team_id  min_year  max_year abbreviation
0           0  1610612737    1949.0    2018.0          ATL
1           0  1610612738    1946.0    2018.0          BOS
2           0  1610612739    1970.0    2018.0          CLE
3           0  1610612740    2002.0    2018.0          NOP
4           0  1610612741    1966.0    2018.0          CHI
..        ...         ...       ...       ...          ...
64          0  1610610023    1949.0    1949.0          NaN
65          0  1610610026    1946.0    1946.0          NaN
66          0  1610610028    1946.0    1946.0          NaN
67          0  1610610032    1946.0    1948.0          NaN
68          0  1610610035    1946.0    1946.0          NaN

[69 rows x 5 columns]

In [20]:
merged_df = pd.merge(games, teams, on='team_id')
nba_df = pd.merge(merged_df, bet_totals, on=['team_id', 'game_id', 'a_team_id'])
nba_df

,game_id,game_date,matchup,team_id,is_home,wl,w,l,w_pct,min,...,league_id,min_year,max_year,abbreviation,book_name,book_id,total1,total2,price1,price2
0,20800741,2009-02-06,SAC vs. UTA,1610612762,f,W,29.0,22.0,0.569,240,...,0,1974.0,2018.0,UTA,Pinnacle Sports,238,215.0,215.0,-117.0,107.0
1,20800741,2009-02-06,SAC vs. UTA,1610612762,f,W,29.0,22.0,0.569,240,...,0,1974.0,2018.0,UTA,5Dimes,19,215.5,215.5,-103.0,-107.0
2,20800741,2009-02-06,SAC vs. UTA,1610612762,f,W,29.0,22.0,0.569,240,...,0,1974.0,2018.0,UTA,Bookmaker,93,215.5,215.5,-110.0,-110.0
3,20800741,2009-02-06,SAC vs. UTA,1610612762,f,W,29.0,22.0,0.569,240,...,0,1974.0,2018.0,UTA,BetOnline,1096,215.5,215.5,-110.0,-110.0
4,20800741,2009-02-06,SAC vs. UTA,1610612762,f,W,29.0,22.0,0.569,240,...,0,1974.0,2018.0,UTA,Bovada,999996,215.0,215.0,-110.0,-110.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131381,20700669,2008-01-30,NOH vs. GSW,1610612744,f,W,28.0,19.0,0.596,240,...,0,1946.0,2018.0,GSW,Bookmaker,93,219.0,219.0,-110.0,-110.0
131382,20700669,2008-01-30,NOH vs. GSW,1610612744,f,W,28.0,19.0,0.596,240,...,0,1946.0,2018.0,GSW,BetOnline,1096,219.0,219.0,-110.0,-110.0
131383,20700669,2008-01-30,NOH vs. GSW,1610612744,f,W,28.0,19.0,0.596,240,...,0,1946.0,2018.0,GSW,Bovada,999996,219.0,219.0,-110.0,-110.0
131384,20700669,2008-01-30,NOH vs. GSW,1610612744,f,W,28.0,19.0,0.596,240,...,0,1946.0,2018.0,GSW,JustBet,1275,219.0,219.0,-110.0,-110.0
131385,20700669,2008-01-30,NOH vs. GSW,1610612744,f,W,28.0,19.0,0.596,240,...,0,1946.0,2018.0,GSW,Sportsbetting,999991,219.0,219.0,-110.0,-110.0

In [14]:
nba_df.head()

,game_id,game_date,matchup,team_id,is_home,wl,w,l,w_pct,min,...,league_id,min_year,max_year,abbreviation,book_name,book_id,total1,total2,price1,price2
0,20800741,2009-02-06,SAC vs. UTA,1610612762,f,W,29.0,22.0,0.569,240,...,0,1974.0,2018.0,UTA,Pinnacle Sports,238,215.0,215.0,-117.0,107.0
1,20800741,2009-02-06,SAC vs. UTA,1610612762,f,W,29.0,22.0,0.569,240,...,0,1974.0,2018.0,UTA,5Dimes,19,215.5,215.5,-103.0,-107.0
2,20800741,2009-02-06,SAC vs. UTA,1610612762,f,W,29.0,22.0,0.569,240,...,0,1974.0,2018.0,UTA,Bookmaker,93,215.5,215.5,-110.0,-110.0
3,20800741,2009-02-06,SAC vs. UTA,1610612762,f,W,29.0,22.0,0.569,240,...,0,1974.0,2018.0,UTA,BetOnline,1096,215.5,215.5,-110.0,-110.0
4,20800741,2009-02-06,SAC vs. UTA,1610612762,f,W,29.0,22.0,0.569,240,...,0,1974.0,2018.0,UTA,Bovada,999996,215.0,215.0,-110.0,-110.0

In [18]:
nba_df['game_date'] = pd.to_datetime(nba_df['game_date'])

# Create a boolean mask to filter rows with dates between "9/30/2017" and "6/8/2018"
mask = (nba_df['game_date'] >= '2017-09-30') & (nba_df['game_date'] <= '2018-06-08')

# Use the mask to filter the rows and create a new DataFrame containing the desired dates
nba2017 = final_merged_df.loc[mask]
nba2017

,game_id,game_date,matchup,team_id,is_home,wl,w,l,w_pct,min,...,min_year,max_year,abbreviation,book_name,book_id,a_team_id_y,total1,total2,price1,price2
675,21701201,2018-04-08,LAL vs. UTA,1610612762,f,W,47.0,33.0,0.588,240,...,1974.0,2018.0,UTA,Pinnacle Sports,238,1610612747,208.0,208.0,-101.0,-109.0
676,21701201,2018-04-08,LAL vs. UTA,1610612762,f,W,47.0,33.0,0.588,240,...,1974.0,2018.0,UTA,5Dimes,19,1610612747,208.0,208.0,-102.0,-108.0
677,21701201,2018-04-08,LAL vs. UTA,1610612762,f,W,47.0,33.0,0.588,240,...,1974.0,2018.0,UTA,Bookmaker,93,1610612747,207.5,207.5,-110.0,-110.0
678,21701201,2018-04-08,LAL vs. UTA,1610612762,f,W,47.0,33.0,0.588,240,...,1974.0,2018.0,UTA,BetOnline,1096,1610612747,208.0,208.0,-105.0,-115.0
679,21701201,2018-04-08,LAL vs. UTA,1610612762,f,W,47.0,33.0,0.588,240,...,1974.0,2018.0,UTA,Bovada,999996,1610612747,208.0,208.0,-110.0,-110.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131320,21700263,2017-11-22,OKC vs. GSW,1610612744,f,L,13.0,5.0,0.722,240,...,1946.0,2018.0,GSW,Heritage,169,1610612760,222.0,222.0,-105.0,-105.0
131321,21700263,2017-11-22,OKC vs. GSW,1610612744,f,L,13.0,5.0,0.722,240,...,1946.0,2018.0,GSW,Intertops,180,1610612760,221.5,221.5,-110.0,-110.0
131322,21700263,2017-11-22,OKC vs. GSW,1610612744,f,L,13.0,5.0,0.722,240,...,1946.0,2018.0,GSW,YouWager,139,1610612760,221.5,221.5,-110.0,-110.0
131323,21700263,2017-11-22,OKC vs. GSW,1610612744,f,L,13.0,5.0,0.722,240,...,1946.0,2018.0,GSW,JustBet,1275,1610612760,221.5,221.5,-110.0,-110.0
131324,21700263,2017-11-22,OKC vs. GSW,1610612744,f,L,13.0,5.0,0.722,240,...,1946.0,2018.0,GSW,Sportsbetting,999991,1610612760,222.0,222.0,-110.0,-110.0

In [19]:
nba2017.to_csv(r'C:\Users\redye\Desktop\NBACrit\nba2017.csv', index=False)