In [1]:
import pandas as pd

In [2]:
bet_totals = pd.read_csv(r'C:\Users\redye\Desktop\NBACrit\nba_betting_totals.csv')
games = pd.read_csv(r'C:\Users\redye\Desktop\NBACrit\games.csv')
teams = pd.read_csv(r'C:\Users\redye\Desktop\NBACrit\nba_teams_all.csv')
bet_totals

,game_id,book_name,book_id,team_id,a_team_id,total1,total2,price1,price2
0,21100131,Pinnacle Sports,238,1610612740,1610612743,192.0,192.0,-105.0,-105.0
1,21100131,5Dimes,19,1610612740,1610612743,192.0,192.0,-105.0,-105.0
2,21100131,Bookmaker,93,1610612740,1610612743,192.0,192.0,-110.0,-110.0
3,21100131,BetOnline,1096,1610612740,1610612743,191.5,191.5,-110.0,-110.0
4,21100131,Bovada,999996,1610612740,1610612743,192.0,192.0,-110.0,-110.0
...,...,...,...,...,...,...,...,...,...
131381,41700215,Heritage,169,1610612755,1610612738,204.5,204.5,-105.0,-105.0
131382,41700215,Intertops,180,1610612755,1610612738,205.0,205.0,-110.0,-110.0
131383,41700215,YouWager,139,1610612755,1610612738,204.5,204.5,-110.0,-110.0
131384,41700215,JustBet,1275,1610612755,1610612738,204.0,204.0,-110.0,-110.0
131385,41700215,Sportsbetting,999991,1610612755,1610612738,204.5,204.5,-110.0,-110.0

In [3]:
games.rename(columns={'HOME_TEAM_ID': 'a_team_id', 'VISITOR_TEAM_ID': 'team_id', 'GAME_ID': 'game_id'}, inplace=True)
games.head()

,GAME_DATE_EST,game_id,GAME_STATUS_TEXT,a_team_id,team_id,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2020-03-01,21900895,Final,1610612766,1610612749,2019,1610612766,85.0,0.354,0.900,...,22.0,47.0,1610612749,93.0,0.402,0.762,0.226,20.0,61.0,0
1,2020-03-01,21900896,Final,1610612750,1610612742,2019,1610612750,91.0,0.364,0.400,...,19.0,57.0,1610612742,111.0,0.468,0.632,0.275,28.0,56.0,0
2,2020-03-01,21900897,Final,1610612746,1610612755,2019,1610612746,136.0,0.592,0.805,...,25.0,37.0,1610612755,130.0,0.505,0.650,0.488,27.0,37.0,1
3,2020-03-01,21900898,Final,1610612743,1610612761,2019,1610612743,133.0,0.566,0.700,...,38.0,41.0,1610612761,118.0,0.461,0.897,0.263,24.0,36.0,1
4,2020-03-01,21900899,Final,1610612758,1610612765,2019,1610612758,106.0,0.407,0.885,...,18.0,51.0,1610612765,100.0,0.413,0.667,0.429,23.0,42.0,1

In [4]:
teams

    league_id     team_id  min_year  max_year abbreviation
0           0  1610612737    1949.0    2018.0          ATL
1           0  1610612738    1946.0    2018.0          BOS
2           0  1610612739    1970.0    2018.0          CLE
3           0  1610612740    2002.0    2018.0          NOP
4           0  1610612741    1966.0    2018.0          CHI
..        ...         ...       ...       ...          ...
64          0  1610610023    1949.0    1949.0          NaN
65          0  1610610026    1946.0    1946.0          NaN
66          0  1610610028    1946.0    1946.0          NaN
67          0  1610610032    1946.0    1948.0          NaN
68          0  1610610035    1946.0    1946.0          NaN

[69 rows x 5 columns]

In [5]:
merged_df = pd.merge(games, teams, on='team_id')
nba_df = pd.merge(merged_df, bet_totals, on=['team_id', 'game_id', 'a_team_id'])
nba_df

,GAME_DATE_EST,game_id,GAME_STATUS_TEXT,a_team_id,team_id,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,league_id,min_year,max_year,abbreviation,book_name,book_id,total1,total2,price1,price2
0,2014-04-14,21301205,Final,1610612761,1610612749,2013,1610612761,110.0,0.469,0.769,...,0,1968.0,2018.0,MIL,Pinnacle Sports,238,205.5,205.5,-104.0,-106.0
1,2014-04-14,21301205,Final,1610612761,1610612749,2013,1610612761,110.0,0.469,0.769,...,0,1968.0,2018.0,MIL,5Dimes,19,204.5,204.5,-108.0,-102.0
2,2014-04-14,21301205,Final,1610612761,1610612749,2013,1610612761,110.0,0.469,0.769,...,0,1968.0,2018.0,MIL,Bookmaker,93,205.0,205.0,-110.0,-110.0
3,2014-04-14,21301205,Final,1610612761,1610612749,2013,1610612761,110.0,0.469,0.769,...,0,1968.0,2018.0,MIL,BetOnline,1096,205.0,205.0,-110.0,-110.0
4,2014-04-14,21301205,Final,1610612761,1610612749,2013,1610612761,110.0,0.469,0.769,...,0,1968.0,2018.0,MIL,Bovada,999996,205.0,205.0,-110.0,-110.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131381,2014-11-03,21400048,Final,1610612746,1610612762,2014,1610612746,107.0,0.506,0.882,...,0,1974.0,2018.0,UTA,Heritage,169,203.5,203.5,-108.0,-108.0
131382,2014-11-03,21400048,Final,1610612746,1610612762,2014,1610612746,107.0,0.506,0.882,...,0,1974.0,2018.0,UTA,Intertops,180,203.5,203.5,-110.0,-110.0
131383,2014-11-03,21400048,Final,1610612746,1610612762,2014,1610612746,107.0,0.506,0.882,...,0,1974.0,2018.0,UTA,YouWager,139,203.5,203.5,-110.0,-110.0
131384,2014-11-03,21400048,Final,1610612746,1610612762,2014,1610612746,107.0,0.506,0.882,...,0,1974.0,2018.0,UTA,JustBet,1275,203.5,203.5,-110.0,-110.0
131385,2014-11-03,21400048,Final,1610612746,1610612762,2014,1610612746,107.0,0.506,0.882,...,0,1974.0,2018.0,UTA,Sportsbetting,999991,203.5,203.5,-110.0,-110.0

In [6]:
nba_df.head()

,GAME_DATE_EST,game_id,GAME_STATUS_TEXT,a_team_id,team_id,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,league_id,min_year,max_year,abbreviation,book_name,book_id,total1,total2,price1,price2
0,2014-04-14,21301205,Final,1610612761,1610612749,2013,1610612761,110.0,0.469,0.769,...,0,1968.0,2018.0,MIL,Pinnacle Sports,238,205.5,205.5,-104.0,-106.0
1,2014-04-14,21301205,Final,1610612761,1610612749,2013,1610612761,110.0,0.469,0.769,...,0,1968.0,2018.0,MIL,5Dimes,19,204.5,204.5,-108.0,-102.0
2,2014-04-14,21301205,Final,1610612761,1610612749,2013,1610612761,110.0,0.469,0.769,...,0,1968.0,2018.0,MIL,Bookmaker,93,205.0,205.0,-110.0,-110.0
3,2014-04-14,21301205,Final,1610612761,1610612749,2013,1610612761,110.0,0.469,0.769,...,0,1968.0,2018.0,MIL,BetOnline,1096,205.0,205.0,-110.0,-110.0
4,2014-04-14,21301205,Final,1610612761,1610612749,2013,1610612761,110.0,0.469,0.769,...,0,1968.0,2018.0,MIL,Bovada,999996,205.0,205.0,-110.0,-110.0

In [8]:
nba_df['GAME_DATE_EST'] = pd.to_datetime(nba_df['GAME_DATE_EST'])

# Create a boolean mask to filter rows with dates between "9/30/2017" and "6/8/2018"
mask = (nba_df['GAME_DATE_EST'] >= '2017-09-30') & (nba_df['GAME_DATE_EST'] <= '2018-06-08')

# Use the mask to filter the rows and create a new DataFrame containing the desired dates
nba2017 = nba_df.loc[mask]
nba2017

,GAME_DATE_EST,game_id,GAME_STATUS_TEXT,a_team_id,team_id,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,league_id,min_year,max_year,abbreviation,book_name,book_id,total1,total2,price1,price2
2596,2018-04-28,41700117,Final,1610612738,1610612749,2017,1610612738,112.0,0.536,0.619,...,0,1968.0,2018.0,MIL,Pinnacle Sports,238,196.0,196.0,109.0,-120.0
2597,2018-04-28,41700117,Final,1610612738,1610612749,2017,1610612738,112.0,0.536,0.619,...,0,1968.0,2018.0,MIL,5Dimes,19,196.0,196.0,-107.0,-103.0
2598,2018-04-28,41700117,Final,1610612738,1610612749,2017,1610612738,112.0,0.536,0.619,...,0,1968.0,2018.0,MIL,Bookmaker,93,195.5,195.5,-110.0,-110.0
2599,2018-04-28,41700117,Final,1610612738,1610612749,2017,1610612738,112.0,0.536,0.619,...,0,1968.0,2018.0,MIL,BetOnline,1096,195.0,195.0,-110.0,-110.0
2600,2018-04-28,41700117,Final,1610612738,1610612749,2017,1610612738,112.0,0.536,0.619,...,0,1968.0,2018.0,MIL,Bovada,999996,196.0,196.0,-110.0,-110.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130155,2017-11-05,21700140,Final,1610612745,1610612762,2017,1610612745,137.0,0.593,0.857,...,0,1974.0,2018.0,UTA,Heritage,169,205.5,205.5,-105.0,-105.0
130156,2017-11-05,21700140,Final,1610612745,1610612762,2017,1610612745,137.0,0.593,0.857,...,0,1974.0,2018.0,UTA,Intertops,180,205.5,205.5,-110.0,-110.0
130157,2017-11-05,21700140,Final,1610612745,1610612762,2017,1610612745,137.0,0.593,0.857,...,0,1974.0,2018.0,UTA,YouWager,139,204.5,204.5,-110.0,-110.0
130158,2017-11-05,21700140,Final,1610612745,1610612762,2017,1610612745,137.0,0.593,0.857,...,0,1974.0,2018.0,UTA,JustBet,1275,205.0,205.0,-110.0,-110.0
130159,2017-11-05,21700140,Final,1610612745,1610612762,2017,1610612745,137.0,0.593,0.857,...,0,1974.0,2018.0,UTA,Sportsbetting,999991,205.0,205.0,-110.0,-110.0

In [9]:
nba2017.to_csv(r'C:\Users\redye\Desktop\NBACrit\nba2017.csv', index=False)

In [10]:
nba2017_copy = nba2017.copy()

In [12]:
nba2017_copy.rename(columns={'a_team_id': 'home_team', 'team_id': 'away_team'}, inplace=True)

In [13]:
columns_to_drop = ["GAME_STATUS_TEXT", "abbreviation", "max_year", "total2", "league_id", "min_year", "TEAM_ID_away", "TEAM_ID_home"]
nba2017_copy.drop(columns=columns_to_drop, inplace=True)

In [14]:
nba2017_copy.head()

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,book_name,book_id,total1,price1,price2
2596,2018-04-28,41700117,1610612738,1610612749,2017,112.0,0.536,0.619,0.346,28.0,...,0.944,0.333,21.0,32.0,1,Pinnacle Sports,238,196.0,109.0,-120.0
2597,2018-04-28,41700117,1610612738,1610612749,2017,112.0,0.536,0.619,0.346,28.0,...,0.944,0.333,21.0,32.0,1,5Dimes,19,196.0,-107.0,-103.0
2598,2018-04-28,41700117,1610612738,1610612749,2017,112.0,0.536,0.619,0.346,28.0,...,0.944,0.333,21.0,32.0,1,Bookmaker,93,195.5,-110.0,-110.0
2599,2018-04-28,41700117,1610612738,1610612749,2017,112.0,0.536,0.619,0.346,28.0,...,0.944,0.333,21.0,32.0,1,BetOnline,1096,195.0,-110.0,-110.0
2600,2018-04-28,41700117,1610612738,1610612749,2017,112.0,0.536,0.619,0.346,28.0,...,0.944,0.333,21.0,32.0,1,Bovada,999996,196.0,-110.0,-110.0

In [16]:
nba2017_copy['book_id'].nunique()

10

In [17]:
nba2017_copy.rename(columns={'price1': 'over', 'price2': 'under'}, inplace=True)
nba2017_copy

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,book_name,book_id,total1,over,under
2596,2018-04-28,41700117,1610612738,1610612749,2017,112.0,0.536,0.619,0.346,28.0,...,0.944,0.333,21.0,32.0,1,Pinnacle Sports,238,196.0,109.0,-120.0
2597,2018-04-28,41700117,1610612738,1610612749,2017,112.0,0.536,0.619,0.346,28.0,...,0.944,0.333,21.0,32.0,1,5Dimes,19,196.0,-107.0,-103.0
2598,2018-04-28,41700117,1610612738,1610612749,2017,112.0,0.536,0.619,0.346,28.0,...,0.944,0.333,21.0,32.0,1,Bookmaker,93,195.5,-110.0,-110.0
2599,2018-04-28,41700117,1610612738,1610612749,2017,112.0,0.536,0.619,0.346,28.0,...,0.944,0.333,21.0,32.0,1,BetOnline,1096,195.0,-110.0,-110.0
2600,2018-04-28,41700117,1610612738,1610612749,2017,112.0,0.536,0.619,0.346,28.0,...,0.944,0.333,21.0,32.0,1,Bovada,999996,196.0,-110.0,-110.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130155,2017-11-05,21700140,1610612745,1610612762,2017,137.0,0.593,0.857,0.590,26.0,...,0.875,0.382,22.0,33.0,1,Heritage,169,205.5,-105.0,-105.0
130156,2017-11-05,21700140,1610612745,1610612762,2017,137.0,0.593,0.857,0.590,26.0,...,0.875,0.382,22.0,33.0,1,Intertops,180,205.5,-110.0,-110.0
130157,2017-11-05,21700140,1610612745,1610612762,2017,137.0,0.593,0.857,0.590,26.0,...,0.875,0.382,22.0,33.0,1,YouWager,139,204.5,-110.0,-110.0
130158,2017-11-05,21700140,1610612745,1610612762,2017,137.0,0.593,0.857,0.590,26.0,...,0.875,0.382,22.0,33.0,1,JustBet,1275,205.0,-110.0,-110.0
130159,2017-11-05,21700140,1610612745,1610612762,2017,137.0,0.593,0.857,0.590,26.0,...,0.875,0.382,22.0,33.0,1,Sportsbetting,999991,205.0,-110.0,-110.0

In [20]:
nba2017_copy['PTS_comb_actual'] = nba2017_copy.apply(lambda row: row['PTS_home'] + row['PTS_away'], axis=1)
nba2017_copy.tail()

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,book_name,book_id,total1,over,under,PTS_comb_actual
130155,2017-11-05,21700140,1610612745,1610612762,2017,137.0,0.593,0.857,0.59,26.0,...,0.382,22.0,33.0,1,Heritage,169,205.5,-105.0,-105.0,247.0
130156,2017-11-05,21700140,1610612745,1610612762,2017,137.0,0.593,0.857,0.59,26.0,...,0.382,22.0,33.0,1,Intertops,180,205.5,-110.0,-110.0,247.0
130157,2017-11-05,21700140,1610612745,1610612762,2017,137.0,0.593,0.857,0.59,26.0,...,0.382,22.0,33.0,1,YouWager,139,204.5,-110.0,-110.0,247.0
130158,2017-11-05,21700140,1610612745,1610612762,2017,137.0,0.593,0.857,0.59,26.0,...,0.382,22.0,33.0,1,JustBet,1275,205.0,-110.0,-110.0,247.0
130159,2017-11-05,21700140,1610612745,1610612762,2017,137.0,0.593,0.857,0.59,26.0,...,0.382,22.0,33.0,1,Sportsbetting,999991,205.0,-110.0,-110.0,247.0

In [21]:
nba2017_copy.to_csv(r'C:\Users\redye\Desktop\NBACrit\nba2017_clean.csv', index=False)

In [23]:
best_overs = nba2017_copy.groupby(['game_id', 'total1'])['over'].idxmax()

# Drop the rows with indices that are not in the lowest_price_indices
best_over = nba2017_copy.loc[best_overs]

# Display the new DataFrame with only the rows where "price1" is the lowest for each "game_id" and "total1" combination
best_over

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,book_name,book_id,total1,over,under,PTS_comb_actual
85605,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.464,23.0,49.0,0,Pinnacle Sports,238,222.5,-126.0,108.0,210.0
85611,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.464,23.0,49.0,0,Intertops,180,223.0,-110.0,-110.0,210.0
85606,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.464,23.0,49.0,0,5Dimes,19,223.5,-110.0,-110.0,210.0
85607,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.464,23.0,49.0,0,Bookmaker,93,224.0,-110.0,-110.0,210.0
64258,2017-09-30,11700002,1610612747,1610612750,2017,99.0,0.441,0.706,0.167,27.0,...,0.300,28.0,49.0,0,Pinnacle Sports,238,214.5,-110.0,-106.0,207.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59392,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0.346,27.0,37.0,0,Pinnacle Sports,238,215.5,-113.0,102.0,212.0
59393,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0.346,27.0,37.0,0,5Dimes,19,216.0,-105.0,-105.0,212.0
59397,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0.346,27.0,37.0,0,Heritage,169,216.5,-105.0,-105.0,212.0
59382,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,0.368,25.0,44.0,0,Pinnacle Sports,238,216.5,-107.0,-103.0,193.0
59387,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,0.368,25.0,44.0,0,Heritage,169,217.0,-105.0,-105.0,193.0

In [24]:
best_unders = nba2017_copy.groupby(['game_id', 'total1'])['under'].idxmax()

# Drop the rows with non ideal under bets
best_under = nba2017_copy.loc[best_unders]

# Display the new DataFrame with only the best under bets for each total per game
best_under

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,book_name,book_id,total1,over,under,PTS_comb_actual
85605,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.464,23.0,49.0,0,Pinnacle Sports,238,222.5,-126.0,108.0,210.0
85608,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.464,23.0,49.0,0,BetOnline,1096,223.0,-117.0,-103.0,210.0
85606,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.464,23.0,49.0,0,5Dimes,19,223.5,-110.0,-110.0,210.0
85607,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.464,23.0,49.0,0,Bookmaker,93,224.0,-110.0,-110.0,210.0
64258,2017-09-30,11700002,1610612747,1610612750,2017,99.0,0.441,0.706,0.167,27.0,...,0.300,28.0,49.0,0,Pinnacle Sports,238,214.5,-110.0,-106.0,207.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59392,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0.346,27.0,37.0,0,Pinnacle Sports,238,215.5,-113.0,102.0,212.0
59393,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0.346,27.0,37.0,0,5Dimes,19,216.0,-105.0,-105.0,212.0
59397,2018-06-06,41700403,1610612739,1610612744,2017,102.0,0.435,0.765,0.290,20.0,...,0.346,27.0,37.0,0,Heritage,169,216.5,-105.0,-105.0,212.0
59383,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,0.368,25.0,44.0,0,5Dimes,19,216.5,-108.0,-102.0,193.0
59387,2018-06-08,41700404,1610612739,1610612744,2017,85.0,0.345,0.680,0.296,21.0,...,0.368,25.0,44.0,0,Heritage,169,217.0,-105.0,-105.0,193.0

In [25]:
best_over.head()

,GAME_DATE_EST,game_id,home_team,away_team,SEASON,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,...,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS,book_name,book_id,total1,over,under,PTS_comb_actual
85605,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.464,23.0,49.0,0,Pinnacle Sports,238,222.5,-126.0,108.0,210.0
85611,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.464,23.0,49.0,0,Intertops,180,223.0,-110.0,-110.0,210.0
85606,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.464,23.0,49.0,0,5Dimes,19,223.5,-110.0,-110.0,210.0
85607,2017-09-30,11700001,1610612744,1610612743,2017,102.0,0.411,0.833,0.121,17.0,...,0.464,23.0,49.0,0,Bookmaker,93,224.0,-110.0,-110.0,210.0
64258,2017-09-30,11700002,1610612747,1610612750,2017,99.0,0.441,0.706,0.167,27.0,...,0.300,28.0,49.0,0,Pinnacle Sports,238,214.5,-110.0,-106.0,207.0

In [27]:
best_over.to_csv(r'C:\Users\redye\Desktop\NBACrit\best_over.csv', index=False)
best_under.to_csv(r'C:\Users\redye\Desktop\NBACrit\best_under.csv', index=False)

PermissionError: [Errno 13] Permission denied: 'C:\\Users\\redye\\Desktop\\NBACrit\\best_over.csv'