In [1]:
import pandas as pd 

data = pd.read_csv(r"C:\Users\redye\Desktop\NBACrit\final_df.csv")

# Calculating the difference between the line and outcome 
data["error"] = data["PTS_comb_actual"] - data["total1_under"]

# Making the error the absolute value
data["error"] = data.error.abs()

# Calculating mean absolute error between the lines and outcome 
n = len(data)
total_error = data.error.sum()
mae_lines = total_error / n

print ("MAE over last 10 years",mae_lines)

MAE over last 10 years 14.34793388429752

In [2]:
# Calculating the difference between the line and outcome 
data["error"] = data["PTS_comb_actual"] - data["total1_over"]

# Making the error the absolute value
data["error"] = data.error.abs()

# Calculating mean absolute error between the lines and outcome 
n = len(data)
total_error = data.error.sum()
mae_lines = total_error / n

print ("MAE over last 10 years",mae_lines)

MAE over last 10 years 14.323966942148761

In [3]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
from sklearn import preprocessing 

# Read the data
X_full = pd.read_csv(r"C:\Users\redye\Desktop\NBACrit\final_df.csv")
X_full["GAME_DATE_EST"] = pd.to_datetime(X_full["GAME_DATE_EST"],infer_datetime_format=True)
X_full = X_full.sort_values(by=["GAME_DATE_EST"], ascending=False)
X_full = X_full.reset_index()



# Label / One-Hot encoding team IDs and season
le = preprocessing.OneHotEncoder()
le2 = preprocessing.LabelEncoder()
ohe_home = le.fit_transform(X_full[["home_team"]]).toarray()
ohe_away = le.transform(X_full[["away_team"]]).toarray()

# Drop old columns
X_full = X_full.drop(columns =[
    "home_team","away_team", "PTS_home", "PTS_away","GAME_DATE_EST","index", "book_name_over", "book_name_under"], axis=1)

In [4]:
X_full.head()

,game_id,SEASON,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,...,total1_under,under_odds,point_average_last10,point_against_average_last10,away_point_average_last10,away_point_against_average_last10,avgpointtotal_home,avgpointtotal_away,meanpointtotal,diff
0,41700404,2017,0.345,0.680,0.296,21,44,0.453,1.000,0.368,...,217.0,-105,102.50,103.15,108.85,102.55,205.65,211.40,208.525,-5.75
1,41700403,2017,0.435,0.765,0.290,20,47,0.519,0.895,0.346,...,216.5,-105,102.30,103.15,109.20,102.45,205.45,211.65,208.550,-6.20
2,41700402,2017,0.573,0.619,0.417,28,41,0.411,0.769,0.333,...,217.0,-105,108.75,101.90,101.65,101.65,210.65,203.30,206.975,7.35
3,41700401,2017,0.511,0.950,0.361,31,38,0.444,0.727,0.270,...,218.0,-105,108.55,102.50,102.10,100.90,211.05,203.00,207.025,8.05
4,41700317,2017,0.400,0.591,0.159,17,44,0.488,0.500,0.410,...,209.0,-105,103.25,102.75,108.80,104.20,206.00,213.00,209.500,-7.00

In [5]:
X_full.head(5)

,game_id,SEASON,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,...,total1_under,under_odds,point_average_last10,point_against_average_last10,away_point_average_last10,away_point_against_average_last10,avgpointtotal_home,avgpointtotal_away,meanpointtotal,diff
0,41700404,2017,0.345,0.680,0.296,21,44,0.453,1.000,0.368,...,217.0,-105,102.50,103.15,108.85,102.55,205.65,211.40,208.525,-5.75
1,41700403,2017,0.435,0.765,0.290,20,47,0.519,0.895,0.346,...,216.5,-105,102.30,103.15,109.20,102.45,205.45,211.65,208.550,-6.20
2,41700402,2017,0.573,0.619,0.417,28,41,0.411,0.769,0.333,...,217.0,-105,108.75,101.90,101.65,101.65,210.65,203.30,206.975,7.35
3,41700401,2017,0.511,0.950,0.361,31,38,0.444,0.727,0.270,...,218.0,-105,108.55,102.50,102.10,100.90,211.05,203.00,207.025,8.05
4,41700317,2017,0.400,0.591,0.159,17,44,0.488,0.500,0.410,...,209.0,-105,103.25,102.75,108.80,104.20,206.00,213.00,209.500,-7.00

In [6]:
X_full.describe()

,game_id,SEASON,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,...,total1_under,under_odds,point_average_last10,point_against_average_last10,away_point_average_last10,away_point_against_average_last10,avgpointtotal_home,avgpointtotal_away,meanpointtotal,diff
count,1.210000e+03,1210.0,1210.000000,1210.000000,1210.000000,1210.000000,1210.000000,1210.000000,1210.000000,1210.000000,...,1210.000000,1210.000000,1210.000000,1210.000000,1210.000000,1210.000000,1210.000000,1210.000000,1210.000000,1210.000000
mean,2.303948e+07,2017.0,0.466827,0.769437,0.361780,23.776860,44.044628,0.456446,0.767292,0.359893,...,212.794215,-93.666942,106.315115,105.992114,106.311810,106.097475,212.307229,212.409285,212.358257,-0.102057
std,5.049766e+06,0.0,0.054795,0.101459,0.090891,5.268455,6.208108,0.054067,0.107820,0.090571,...,8.621067,46.798556,4.719096,4.347759,4.834030,4.428097,7.361346,7.615930,5.335047,10.513455
min,1.170000e+07,2017.0,0.303000,0.143000,0.056000,11.000000,28.000000,0.288000,0.375000,0.077000,...,190.000000,-115.000000,93.166667,93.850000,92.855556,93.562500,195.250000,196.000000,197.116667,-30.471429
25%,2.170041e+07,2017.0,0.429000,0.706000,0.300000,20.000000,40.000000,0.419250,0.700000,0.296000,...,207.000000,-105.000000,102.710714,102.962500,102.800000,103.150000,206.912500,206.900000,208.675000,-7.550000
50%,2.170071e+07,2017.0,0.463000,0.774000,0.360000,23.000000,44.000000,0.456500,0.776000,0.360000,...,212.500000,-105.000000,105.850000,106.000000,106.000000,106.025000,212.250000,212.568750,212.244048,-0.300000
75%,2.170101e+07,2017.0,0.505000,0.833000,0.422500,27.000000,48.000000,0.489000,0.841500,0.422000,...,218.000000,-103.000000,109.700000,108.850000,109.600000,109.000000,217.587500,217.700000,215.962500,7.150000
max,4.170040e+07,2017.0,0.639000,1.000000,0.667000,40.000000,64.000000,0.632000,1.000000,0.714000,...,238.500000,109.000000,119.942857,118.600000,120.342857,119.800000,233.200000,233.050000,228.275000,30.000000

In [7]:
X_full.PTS_comb_actual.describe()

count    1210.000000
mean      212.633884
std        19.499673
min       158.000000
25%       199.000000
50%       212.000000
75%       226.000000
max       290.000000
Name: PTS_comb_actual, dtype: float64

In [8]:
ohe_home_df = pd.DataFrame(ohe_home)
ohe_away_df = pd.DataFrame(ohe_away)
X_full = pd.concat([X_full,ohe_home_df], axis=1)
X_full = pd.concat([X_full,ohe_away_df], axis=1)
print(X_full.shape)

(1210, 88)

In [9]:
X_full.head(5)

,game_id,SEASON,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,...,20,21,22,23,24,25,26,27,28,29
0,41700404,2017,0.345,0.680,0.296,21,44,0.453,1.000,0.368,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,41700403,2017,0.435,0.765,0.290,20,47,0.519,0.895,0.346,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,41700402,2017,0.573,0.619,0.417,28,41,0.411,0.769,0.333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,41700401,2017,0.511,0.950,0.361,31,38,0.444,0.727,0.270,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,41700317,2017,0.400,0.591,0.159,17,44,0.488,0.500,0.410,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
y = X_full["PTS_comb_actual"]
X_full = X_full.drop(columns=['PTS_comb_actual'])

test = len(X_full) - int(len(X_full)*0.9)

X_train = X_full.iloc[test:]
X_valid = X_full.iloc[:test]
y_train = y.iloc[test:]
y_valid = y.iloc[:test]

In [11]:
from sklearn.linear_model import ElasticNet
from sklearn.metrics import mean_absolute_error

EN = ElasticNet().fit(X_train,y_train)

pred_EN = EN.predict(X_valid)
mae_EN = mean_absolute_error(pred_EN, y_valid)
print ("mae",mae_EN)

mae 12.56558009333737

In [12]:
pred_EN

array([228.06265558, 229.76840068, 233.96579394, 233.87155618,
       217.14314337, 198.15480791, 215.71565446, 214.00336741,
       212.7262701 , 205.24799397, 208.23135078, 206.57960689,
       224.24443047, 212.95965525, 231.7524388 , 212.70799361,
       231.23465768, 215.18270179, 216.87318604, 251.2441024 ,
       221.9439906 , 231.18998333, 207.12352006, 233.66789416,
       203.19796417, 208.15533599, 208.63729631, 220.10798241,
       248.4546813 , 228.30300123, 235.86655139, 214.96419813,
       261.74171805, 226.85250026, 224.30901424, 209.22702592,
       200.19878777, 240.52899706, 214.2858521 , 207.21660901,
       213.9966746 , 205.46649428, 199.34979659, 227.47996092,
       214.27355118, 201.34608857, 236.89688994, 223.83720089,
       215.07445441, 210.65702659, 217.96241385, 198.34218079,
       214.72234194, 212.66793063, 209.67543972, 222.83448741,
       229.77177768, 215.22286325, 215.34587126, 231.65932858,
       233.63427859, 211.30088241, 216.77279178, 219.91172145,
       227.4119008 , 236.99780579, 205.77004506, 219.84155624,
       213.89543454, 229.05256352, 211.93884516, 225.80392956,
       223.52909597, 221.09855552, 216.82146297, 213.05940933,
       207.52710039, 201.90847909, 239.27578185, 218.79973907,
       223.51622964, 232.87278451, 219.53180116, 224.1898826 ,
       202.57539862, 210.29758685, 196.13311026, 216.39941988,
       209.78217195, 216.53055299, 192.19945543, 188.55969138,
       202.46667982, 218.69504821, 213.38414904, 200.07488931,
       219.71445071, 207.07108254, 233.36976498, 212.51017104,
       210.72421881, 221.65868917, 231.47567491, 206.94540971,
       232.52924674, 231.09380257, 211.74838336, 188.19847941,
       191.76712135, 231.39519597, 217.73227258, 227.00065529,
       221.22187413, 221.58682055, 217.92845362, 220.93585201,
       201.35360557, 255.05460344, 217.43462561, 227.99320002,
       228.31712334])

In [13]:
from sklearn.linear_model import Lasso 

ls = Lasso().fit(X_train, y_train)

pred_ls = ls.predict(X_valid)
mae_ls = mean_absolute_error(pred_ls, y_valid)
print("mae",mae_ls)

mae 12.674151112928833

In [14]:
pred_ls

array([227.96143449, 229.66828578, 233.7833022 , 233.79047017,
       217.33433468, 198.53191722, 215.76093512, 214.25680393,
       212.57933772, 205.67111059, 207.92820333, 206.94919911,
       224.10539086, 213.01052422, 231.42595132, 212.95587319,
       230.9410384 , 215.56261384, 217.22899245, 251.14806182,
       221.91734901, 231.40276144, 207.74335308, 233.50311873,
       203.32901466, 208.20914481, 209.12534009, 220.21072766,
       248.33253107, 228.75503837, 236.0901841 , 215.14879734,
       261.61248432, 227.27073504, 224.78031484, 209.33996443,
       200.63196146, 240.60979199, 215.169906  , 207.83314329,
       214.50533962, 205.80424123, 200.15624595, 227.93995366,
       214.72133942, 201.84327668, 237.03961641, 224.59430654,
       215.54780517, 211.6040787 , 217.97589124, 198.93044852,
       215.4619066 , 213.07728166, 209.98399292, 223.21085538,
       229.68265635, 215.94214995, 215.70589339, 231.65722212,
       234.00164999, 211.54521811, 217.474566  , 220.31485848,
       227.56342987, 237.69580779, 206.0385458 , 219.9094237 ,
       214.42600937, 229.49210297, 212.79581266, 225.70766521,
       223.7324796 , 221.93822056, 217.07312908, 213.47427496,
       208.5331489 , 202.3603764 , 239.67759091, 219.2420966 ,
       223.99019365, 233.66544882, 219.71936227, 224.75495838,
       203.32506496, 210.9736675 , 196.03486258, 216.39024093,
       210.24982153, 216.66000678, 191.78964926, 188.26256021,
       203.09331477, 219.0754064 , 213.60140687, 199.97693434,
       220.1571212 , 206.9758831 , 233.35248731, 212.72845933,
       210.93991101, 221.74012872, 231.64159479, 207.26332102,
       232.70214846, 231.64948135, 211.76456407, 188.21862504,
       191.79977366, 231.42979241, 217.58183038, 226.94143821,
       221.41383662, 221.65394402, 218.32748053, 221.05838274,
       201.17080849, 254.89682822, 217.11239795, 228.21750554,
       228.67196015])

In [15]:
X_valid

,game_id,SEASON,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,...,20,21,22,23,24,25,26,27,28,29
0,41700404,2017,0.345,0.680,0.296,21,44,0.453,1.000,0.368,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,41700403,2017,0.435,0.765,0.290,20,47,0.519,0.895,0.346,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,41700402,2017,0.573,0.619,0.417,28,41,0.411,0.769,0.333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,41700401,2017,0.511,0.950,0.361,31,38,0.444,0.727,0.270,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,41700317,2017,0.400,0.591,0.159,17,44,0.488,0.500,0.410,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,21701196,2017,0.560,0.714,0.333,21,36,0.477,0.909,0.393,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
117,21701195,2017,0.544,0.636,0.455,31,42,0.563,0.773,0.407,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
118,21701194,2017,0.474,0.696,0.378,23,41,0.396,0.788,0.303,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
119,21701193,2017,0.409,0.857,0.207,16,39,0.500,0.727,0.436,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
120,21701192,2017,0.432,1.000,0.429,30,44,0.484,0.882,0.400,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
data = {
    "Actual_Total": y_valid,
    "ls_prediction": pred_ls
}

In [17]:
predict_ls = pd.DataFrame(data)
predict_ls

     Actual_Total  ls_prediction
0             193     227.961434
1             212     229.668286
2             225     233.783302
3             238     233.790470
4             193     217.334335
..            ...            ...
116           221     201.170808
117           246     254.896828
118           210     217.112398
119           220     228.217506
120           217     228.671960

[121 rows x 2 columns]

In [18]:
predict_ls['over_line'] = X_valid["total1_over"]
predict_ls['under_line'] = X_valid["total1_under"]

In [19]:
predict_ls['over_difference'] = predict_ls['ls_prediction'] - predict_ls['over_line']
predict_ls['under_difference'] = predict_ls['under_line'] - predict_ls['ls_prediction']

In [20]:
predict_ls

,Actual_Total,ls_prediction,over_line,under_line,over_difference,under_difference
0,193,227.961434,216.5,217.0,11.461434,-10.961434
1,212,229.668286,216.0,216.5,13.668286,-13.168286
2,225,233.783302,216.5,217.0,17.283302,-16.783302
3,238,233.790470,217.0,218.0,16.790470,-15.790470
4,193,217.334335,208.0,209.0,9.334335,-8.334335
...,...,...,...,...,...,...
116,221,201.170808,203.0,204.0,-1.829192,2.829192
117,246,254.896828,226.0,226.0,28.896828,-28.896828
118,210,217.112398,220.0,220.5,-2.887602,3.387602
119,220,228.217506,221.0,221.0,7.217506,-7.217506
120,217,228.671960,214.5,216.0,14.171960,-12.671960

In [21]:
def determine_bet(row):
    if row['over_difference'] >= 10:
        return 'Over'
    elif row['under_difference'] > 5:
        return 'Under'
    else:
        return 'No Bet'
    
predict_ls['Bet'] = predict_ls.apply(determine_bet, axis=1)

In [22]:
predict_ls['over_odds'] = X_valid['over_odds']
predict_ls['under_odds'] = X_valid['under_odds']
predict_ls

,Actual_Total,ls_prediction,over_line,under_line,over_difference,under_difference,Bet,over_odds,under_odds
0,193,227.961434,216.5,217.0,11.461434,-10.961434,Over,-107,-105
1,212,229.668286,216.0,216.5,13.668286,-13.168286,Over,-105,-105
2,225,233.783302,216.5,217.0,17.283302,-16.783302,Over,103,-105
3,238,233.790470,217.0,218.0,16.790470,-15.790470,Over,-110,-105
4,193,217.334335,208.0,209.0,9.334335,-8.334335,No Bet,-105,-105
...,...,...,...,...,...,...,...,...,...
116,221,201.170808,203.0,204.0,-1.829192,2.829192,No Bet,-105,-104
117,246,254.896828,226.0,226.0,28.896828,-28.896828,Over,-101,-105
118,210,217.112398,220.0,220.5,-2.887602,3.387602,No Bet,-105,-105
119,220,228.217506,221.0,221.0,7.217506,-7.217506,No Bet,-103,-105
120,217,228.671960,214.5,216.0,14.171960,-12.671960,Over,-105,-109

In [23]:
def convert_to_decimal(odds):
    return (odds / 100) + 1 if odds >= 100 else (100 / abs(odds) + 1)

# Apply the conversion function to the 'over' column and create a new 'decimal_over' column
predict_ls['over_odds'] = predict_ls['over_odds'].apply(convert_to_decimal)
predict_ls['under_odds'] = predict_ls['under_odds'].apply(convert_to_decimal)
predict_ls

,Actual_Total,ls_prediction,over_line,under_line,over_difference,under_difference,Bet,over_odds,under_odds
0,193,227.961434,216.5,217.0,11.461434,-10.961434,Over,1.934579,1.952381
1,212,229.668286,216.0,216.5,13.668286,-13.168286,Over,1.952381,1.952381
2,225,233.783302,216.5,217.0,17.283302,-16.783302,Over,2.030000,1.952381
3,238,233.790470,217.0,218.0,16.790470,-15.790470,Over,1.909091,1.952381
4,193,217.334335,208.0,209.0,9.334335,-8.334335,No Bet,1.952381,1.952381
...,...,...,...,...,...,...,...,...,...
116,221,201.170808,203.0,204.0,-1.829192,2.829192,No Bet,1.952381,1.961538
117,246,254.896828,226.0,226.0,28.896828,-28.896828,Over,1.990099,1.952381
118,210,217.112398,220.0,220.5,-2.887602,3.387602,No Bet,1.952381,1.952381
119,220,228.217506,221.0,221.0,7.217506,-7.217506,No Bet,1.970874,1.952381
120,217,228.671960,214.5,216.0,14.171960,-12.671960,Over,1.952381,1.917431

In [24]:
def determine_outcome(row):
    if row['Bet'] == 'Over':
        if row['over_line'] < row['Actual_Total']:
            return 'Win'
        elif row['over_line'] > row['Actual_Total']:
            return 'Loss'
        else:
            return 'Push'
    elif row['Bet'] == 'Under':
        if row['under_line'] < row['Actual_Total']:
            return 'Loss'
        elif row['under_line'] > row['Actual_Total']:
            return 'Win'
        else:
            return 'Push'
    else:
        return None

predict_ls['outcome'] = predict_ls.apply(determine_outcome, axis=1)

In [25]:
predict_ls

,Actual_Total,ls_prediction,over_line,under_line,over_difference,under_difference,Bet,over_odds,under_odds,outcome
0,193,227.961434,216.5,217.0,11.461434,-10.961434,Over,1.934579,1.952381,Loss
1,212,229.668286,216.0,216.5,13.668286,-13.168286,Over,1.952381,1.952381,Loss
2,225,233.783302,216.5,217.0,17.283302,-16.783302,Over,2.030000,1.952381,Win
3,238,233.790470,217.0,218.0,16.790470,-15.790470,Over,1.909091,1.952381,Win
4,193,217.334335,208.0,209.0,9.334335,-8.334335,No Bet,1.952381,1.952381,None
...,...,...,...,...,...,...,...,...,...,...
116,221,201.170808,203.0,204.0,-1.829192,2.829192,No Bet,1.952381,1.961538,None
117,246,254.896828,226.0,226.0,28.896828,-28.896828,Over,1.990099,1.952381,Win
118,210,217.112398,220.0,220.5,-2.887602,3.387602,No Bet,1.952381,1.952381,None
119,220,228.217506,221.0,221.0,7.217506,-7.217506,No Bet,1.970874,1.952381,None
120,217,228.671960,214.5,216.0,14.171960,-12.671960,Over,1.952381,1.917431,Win

In [26]:
def calculate_profit(row):
    if row['outcome'] == 'Win':
        if row['Bet'] == 'Over':
            return row['over_odds'] - 1
        elif row['Bet'] == 'Under':
            return row['under_odds'] - 1
    elif row['outcome'] == 'Loss':
        return -1
    return None

# Apply the function to create the 'profit' column
predict_ls['profit'] = predict_ls.apply(calculate_profit, axis=1)
predict_ls

,Actual_Total,ls_prediction,over_line,under_line,over_difference,under_difference,Bet,over_odds,under_odds,outcome,profit
0,193,227.961434,216.5,217.0,11.461434,-10.961434,Over,1.934579,1.952381,Loss,-1.000000
1,212,229.668286,216.0,216.5,13.668286,-13.168286,Over,1.952381,1.952381,Loss,-1.000000
2,225,233.783302,216.5,217.0,17.283302,-16.783302,Over,2.030000,1.952381,Win,1.030000
3,238,233.790470,217.0,218.0,16.790470,-15.790470,Over,1.909091,1.952381,Win,0.909091
4,193,217.334335,208.0,209.0,9.334335,-8.334335,No Bet,1.952381,1.952381,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...
116,221,201.170808,203.0,204.0,-1.829192,2.829192,No Bet,1.952381,1.961538,None,NaN
117,246,254.896828,226.0,226.0,28.896828,-28.896828,Over,1.990099,1.952381,Win,0.990099
118,210,217.112398,220.0,220.5,-2.887602,3.387602,No Bet,1.952381,1.952381,None,NaN
119,220,228.217506,221.0,221.0,7.217506,-7.217506,No Bet,1.970874,1.952381,None,NaN
120,217,228.671960,214.5,216.0,14.171960,-12.671960,Over,1.952381,1.917431,Win,0.952381

In [27]:
predict_ls['game_id'] = X_valid['game_id']

In [28]:
predict_ls.set_index('game_id', inplace=True)
predict_ls

,Actual_Total,ls_prediction,over_line,under_line,over_difference,under_difference,Bet,over_odds,under_odds,outcome,profit
game_id,,,,,,,,,,,
41700404,193,227.961434,216.5,217.0,11.461434,-10.961434,Over,1.934579,1.952381,Loss,-1.000000
41700403,212,229.668286,216.0,216.5,13.668286,-13.168286,Over,1.952381,1.952381,Loss,-1.000000
41700402,225,233.783302,216.5,217.0,17.283302,-16.783302,Over,2.030000,1.952381,Win,1.030000
41700401,238,233.790470,217.0,218.0,16.790470,-15.790470,Over,1.909091,1.952381,Win,0.909091
41700317,193,217.334335,208.0,209.0,9.334335,-8.334335,No Bet,1.952381,1.952381,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...
21701196,221,201.170808,203.0,204.0,-1.829192,2.829192,No Bet,1.952381,1.961538,None,NaN
21701195,246,254.896828,226.0,226.0,28.896828,-28.896828,Over,1.990099,1.952381,Win,0.990099
21701194,210,217.112398,220.0,220.5,-2.887602,3.387602,No Bet,1.952381,1.952381,None,NaN
21701193,220,228.217506,221.0,221.0,7.217506,-7.217506,No Bet,1.970874,1.952381,None,NaN
21701192,217,228.671960,214.5,216.0,14.171960,-12.671960,Over,1.952381,1.917431,Win,0.952381

In [29]:
predict_ls.to_csv(r'C:\Users\redye\Desktop\NBACrit\predict_ls.csv', index=False)

In [30]:
predict_ls['profit'].describe()

count    65.000000
mean      0.634179
std       0.743984
min      -1.000000
25%       0.934579
50%       0.952381
75%       0.980392
max       1.090000
Name: profit, dtype: float64

In [31]:
Profit = predict_ls['profit'].sum()

# Print the calculated profit
print("The model would have yielded {:.2f} units".format(Profit))

The model would have yielded 41.22 units

In [32]:
print("We rich baby! Just kidding I think the model may have access to some data it shouldn't. I don't know where though!")

We rich baby! Just kidding I think the model may have access to some data it shouldn't. I don't know where though!